#slide_2 {margin:0 0 30px 0}
#slide_2 .captionWrap {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:#000;
	z-index:4;
	opacity:0.5
}
#slide_2 .captionWrap:hover {
	opacity:1
}
#slide_2 .caption {
	padding:10px 60px;
	height:40px;
	color:#fff;
	font:12px/1.2em Arial, Helvetica, sans-serif;
}
#slide_2 .dotted {
	width:100%; 
	position:absolute; 
	bottom:-15px; 
	left:0;
	z-index:5;
	text-align:center;
}
#slide_2 .dottedItem {
	text-indent:99999px;
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	width:10px;
	height:10px;
	border-radius:50%;
	background:#000;
	margin:0 5px;
}
#slide_2 .dottedItem.cur {
	width:4px;
	height:4px;
	border:3px solid #000;
	background:#fff;
}
#slide_2 .dottedItem:hover {
	width:2px;
	height:2px;
	border:2px solid #000;
	padding:2px;
	background:#fff;
}
#slide_2 .next,
#slide_2 .prev {
	height:38px;
	width:38px;
	position:absolute;
	bottom:0;
	margin:-15px 0 10px 0;
	z-index:5;
	cursor:pointer;
	background: url(../images/nav.jpg) 0 0 no-repeat;
	opacity:0.5
}
#slide_2 .next {
	right:10px;
	background-position:0 -38px;
}
#slide_2 .prev {
	left:10px;
	
}
#slide_2 .next:hover,
#slide_2 .prev:hover {
	opacity:1
}

.portfolio-close{
	position: absolute; top:0; right:0; z-index:5;
}
	.portfolio-close a{
		background:url(../images/close-btn.png) no-repeat 0 0; width:38px; height:38px; display:block;
	}